<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row pad-left-right">
      <span class="pull-left title">Contacts</span>
      <div class="input-group pull-left pad-left-right col-xs-7">
        <input
          type="text"
          placeholder="Enter a search value"
          class="form-control"
          #searchBox
          (keypress)="search(searchBox.value)"
        />
        <div
          class="glyphicon glyphicon-search input-group-addon"
          (click)="search(searchBox.value)"
        ></div>
      <div class="pull-right">
        <a class="btn btn-success pad-left-right" [routerLink]="['new']"
          >New Contact</a
        >
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="center-panel">
      <div class="row">
        <div class="col-xs-12">
          <app-contact-item
            *ngFor="let contact of contacts"
            [contact]="contact"
            dnd-draggable
            [dragEnabled]="true"
            [dragData]="contact"
            [dropZones]="['contactGroup']"
          >
          </app-contact-item>
        </div>
      </div>
    </div>
  </div>
</div>
